/* Resets */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   -webkit-font-smoothing:antialiased;
}
/* Fonts */
 @font-face {
    font-family:"Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
 }
@font-face{
    font-family:"Raleway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
 }
 @font-face{
    font-family:"Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
 }
 @font-face{
    font-family:"Raleway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
 }
 @font-face{
    font-family:"Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
 }

 /* Colors */
 :root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
 }

.container{
   width: 100%;
   padding: 0 15px;
   margin: 0px auto;
}

@media(min-width:576px){
   .container{
      max-width: 540px;
   }
}
@media(min-width:768px){
   .container{
      max-width: 720px;
   }
}
@media(min-width:992px){
   .container{
      max-width: 960px;
   }
}
@media(min-width:1200px){
   .container{
      max-width: 1152px;
   }
}

header.topbar{
   background: var(--secondary);
   color: var(--pure);
   padding: 0.75rem 0px;
}
header.topbar .auth >div a{
   color: var(--pure);
   text-decoration: none;
   font-family: "Raleway-semibold";

}
header.topbar .icons a{
   margin: 0.6rem;
}
header.topbar .auth .divider{
   padding: 0 1rem;
}
header.topbar .auth>div img{
   margin-right: 0.35rem;
}


.flex{
   display: flex;
}
.justify-between{
   justify-content: space-between;
}
.justify-center{
   justify-content: center;
}
.items-center{
   align-items: center;
}

nav .top{
   padding: 1.5rem 0;
}
nav .container .contact h5,nav .container .time h5{
   font-family: "Relway-black";
   margin:0.35rem;
}

nav .container .contact h6,nav .container .time h6{
   font-family: "Relway-medium";
   margin:0.35rem; 
   letter-spacing: 0.055rem;
   font-size: 0.75rem;
   color: var(--ternary);
}
nav .top .contact img,nav .top .time img{
   margin-right: 1rem;
}

nav .navbar a{
   text-decoration: none;
   font-family: "Releway-semibold";
   color: var(--secondary);
   font-size: 1rem;
   padding: 1rem 1.5rem;
   transition: all .3s ease;
}

nav .navbar a.active{
   background: var(--primary);
   color: var(--pure); 
}
nav .navbar a:hover{
   background: var(--primary);
   color: var(--pure);
}

